body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-color: #3c3847;
  }

main {
    flex: 1 0 auto;
  }

#splash-name {
    color: rgb(255, 255, 255);
    font-family: 'Shadows Into Light', cursive;
    font-weight: bold;
    position: relative;
    padding-top: 80%;
    text-shadow: 2px 2px #2c2c2c;
    opacity:0;  /* make things invisible upon start */
    -webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
    -moz-animation:fadeIn ease-in 1;
    animation:fadeIn ease-in 1;
      
    -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
    -moz-animation-fill-mode:forwards;
    animation-fill-mode:forwards;
      
    -webkit-animation-duration:1s;
    -moz-animation-duration:1s;
    animation-duration:1s;

    -webkit-animation-delay: 0.5s;
    -moz-animation-delay: 0.5s;
    animation-delay: 0.5s;
}

.splash-description {
    color: rgb(255, 255, 255);
    font-family: 'Montserrat', sans-serif;
    position: relative;
    left: 5%;
    text-shadow: 2px 2px #2c2c2c;
    opacity:0;  /* make things invisible upon start */
}

#picture-splash {
    background-image: url(../images/splash.jpg);
    background-position-y: -175px;
    background-repeat: no-repeat;
    background-color: white;
}

#white {
    background-color: white;
    height: 100%;
    padding-top: 20%;
    padding-bottom: 35%;
}

#null-row {
    margin: 0 0 0 0;
}

.splash-list {
    font-size: 110%;
    margin-bottom: 1.5%;
    padding-left: 3%;
    opacity:0;  /* make things invisible upon start */
    -webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
    -moz-animation:fadeIn ease-in 1;
    animation:fadeIn ease-in 1;
      
    -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
    -moz-animation-fill-mode:forwards;
    animation-fill-mode:forwards;
      
    -webkit-animation-duration:1s;
    -moz-animation-duration:1s;
    animation-duration:1s;

    -webkit-animation-delay: 3.5s;
    -moz-animation-delay: 3.5s;
    animation-delay: 3.5s;
}

#list-main {
    color: rgb(46, 46, 46);
    font-family: 'Montserrat', sans-serif;   
}

#new-font h4 {
    font-family: 'Shadows Into Light', cursive;
    
    font-weight: bold;

    opacity:0;  /* make things invisible upon start */
    -webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
    -moz-animation:fadeIn ease-in 1;
    animation:fadeIn ease-in 1;
      
    -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
    -moz-animation-fill-mode:forwards;
    animation-fill-mode:forwards;
      
    -webkit-animation-duration:1s;
    -moz-animation-duration:1s;
    animation-duration:1s;

    -webkit-animation-delay: 0.5s;
    -moz-animation-delay: 0.5s;
    animation-delay: 0.5s;
    
}

.footer-icons {
    margin-left: 5px;
}

/* unvisited link */
.splash-list a:link {
    color: rgb(46, 46, 46);
}
    
/* visited link */
.splash-list a:visited {
    color: rgb(46, 46, 46);
}
    
/* mouse over link */
.splash-list a:hover {
    color: rgb(48, 65, 119);
}

/* unvisited link */
.splash-description a:link {
    color: rgb(255, 255, 255);
}
    
/* visited link */
.splash-description a:visited {
    color: rgb(255, 255, 255);
}
    
/* mouse over link */
.splash-description a:hover {
    color: rgb(47, 64, 122);
}
/* unvisited link */
#create a:link {
    color: rgb(255, 81, 0);
}
    
/* visited link */
#create a:visited {
    color: rgb(255, 81, 0);
}
    
#logo {
    padding-top: 3px;
    height: 55px;
}

#footer-padding {
    padding: 0;
}

@media screen and (max-width: 450px){
    #null-row {
        visibility: hidden;
        position: absolute;
        top: -9999px;
    }
    #picture-splash {
        background-position-y: 40px;
        background-size: 100%;
        background-color: #546e7a;
    }
    #image-dump {
        visibility: hidden;
        position: absolute;
        top: -9999px;
    }
}
@media screen and (min-width: 450px){
    #image-dump {
        height: 600px;
    }
    #nav-hide {
        visibility: hidden;
        position: absolute;
        top: -9999px;
    }
    #mobile-show {
        visibility: hidden;
        position: absolute;
        top: -9999px;
    }
}

@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

#p-text-about {
    font-size: 150%;
}

#web {
    -webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
    -moz-animation:fadeIn ease-in 1;
    animation:fadeIn ease-in 1;
      
    -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
    -moz-animation-fill-mode:forwards;
    animation-fill-mode:forwards;
      
    -webkit-animation-duration:1s;
    -moz-animation-duration:1s;
    animation-duration:1s;

    -webkit-animation-delay: 1.5s;
    -moz-animation-delay: 1.5s;
    animation-delay: 1.5s;
}

#photo {
    -webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
    -moz-animation:fadeIn ease-in 1;
    animation:fadeIn ease-in 1;
      
    -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
    -moz-animation-fill-mode:forwards;
    animation-fill-mode:forwards;
      
    -webkit-animation-duration:1s;
    -moz-animation-duration:1s;
    animation-duration:1s;

    -webkit-animation-delay: 2.5s;
    -moz-animation-delay: 2.5s;
    animation-delay: 2.5s;
}
#write {
    -webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
    -moz-animation:fadeIn ease-in 1;
    animation:fadeIn ease-in 1;
      
    -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
    -moz-animation-fill-mode:forwards;
    animation-fill-mode:forwards;
      
    -webkit-animation-duration:1s;
    -moz-animation-duration:1s;
    animation-duration:1s;

    -webkit-animation-delay: 3.5s;
    -moz-animation-delay: 3.5s;
    animation-delay: 3.5s;
}
#create {
    color: rgb(255, 81, 0);

    -webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
    -moz-animation:fadeIn ease-in 1;
    animation:fadeIn ease-in 1;
      
    -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
    -moz-animation-fill-mode:forwards;
    animation-fill-mode:forwards;
      
    -webkit-animation-duration:1s;
    -moz-animation-duration:1s;
    animation-duration:1s;

    -webkit-animation-delay: 4.5s;
    -moz-animation-delay: 4.5s;
    animation-delay: 4.5s;
}

.orange-site {
    color: rgb(255, 81, 0);
    text-shadow: 2px 2px 4px rgb(37, 37, 37);
}

#appear-second-last {
    opacity: 0;
    font-family: 'Montserrat', sans-serif;   
    -webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
    -moz-animation:fadeIn ease-in 1;
    animation:fadeIn ease-in 1;
      
    -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
    -moz-animation-fill-mode:forwards;
    animation-fill-mode:forwards;
      
    -webkit-animation-duration:1s;
    -moz-animation-duration:1s;
    animation-duration:1s;

    -webkit-animation-delay: 1.5s;
    -moz-animation-delay: 1.5s;
    animation-delay: 1.5s;

    font-weight: normal;
}
#appear-last {
    opacity: 0;
    font-family: 'Montserrat', sans-serif;   
    -webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
    -moz-animation:fadeIn ease-in 1;
    animation:fadeIn ease-in 1;
      
    -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
    -moz-animation-fill-mode:forwards;
    animation-fill-mode:forwards;
      
    -webkit-animation-duration:1s;
    -moz-animation-duration:1s;
    animation-duration:1s;

    -webkit-animation-delay: 2.5s;
    -moz-animation-delay: 2.5s;
    animation-delay: 2.5s;

    font-weight: bold;
}
#footer-relative {
    position: relative;
}
#name-footer-padding {
    position: absolute;
    top: 8px;
}
#inline {
    box-shadow: 0 4px 8px rgb(37, 37, 37);
    float: left;
    width: 250px;
    margin: 10px;
}
#image-dump {
    margin: auto;
    box-shadow: 0 4px 8px rgb(37, 37, 37);
}
.carousel-image:hover {
    border: 1px solid rgb(255, 81, 0);
}
#about-p {
    color: rgb(224, 224, 224);
    text-shadow: 0 1px 2px rgb(37, 37, 37);
}
.icon-color a:link {
    color: white;
}
.icon-color a:visited {
    color: white;
}
.icon-color a:hover {
    color: rgb(255, 81, 0);
}